<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="rating" content="general">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen, print" />
    <title>BrachioGraph</title>
</head>
<body>
	<div class="main">
        <div>
            <a class='button' href='/cmd=park'>Zaparkovat</a>
            <a class='button' href='/cmd=quiet'>Vypnout</a>
        </div>
        <div>
            <a class='button' href='/cmd=draw'>Kresli</a>
        </div>

        <img src="{{ image }}" alt="{{ image }}">

        <div>
            <a class="button" href="/cmd=prev">Předchozí</a>
            <a class="button" href="/cmd=next">Další</a>
        </div>
	</div>
</body>
</html>