<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="rating" content="general">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen, print" />
    <title>BrachioGraph</title>
</head>
<body>
	<div class="main">

		<ul>
            <li><a href='/cmd=park'>Zaparkovat</a></li>
            <li><a href='/cmd=quiet'>Vypnout</a></li>
			<!--<li><a href='/cmd=box'>Box</a></li>-->
        </ul>

        <ul>
            <li><a href='/draw=kytka.json'>Kresli kytku</a></li>
            <li><a href='/draw=auto.json'>Kresli auto</a></li>
            <li><a href='/draw=vcela.json'>Kresli včelu</a></li>
            <li><a href='/draw=porshe.json'>Kresli porshe</a></li>
		</ul>

        {% for image in images %}
        <p class="foto">
            <img class="fotoImg" src="{{ image }}"/>
            <span class="name">Obrazek</span>
        </p>
        {% endfor %}
	</div>

</body>
</html>